@page "/ProduktyMagazyn"
@using System.Text.Json
@using Tartak.Magazyn.Models
@using Tartak.WebApp.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Warehouse</h3>
<button type="button" class="btn btn-secondary" onclick="@(() => NavManager.NavigateTo("/Produktymagazyn/Add"))">Add product</button>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in _products ?? new ProductWarehouseModel[0])
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@($"{product.PurchasePrice} zł")</td>
                <td>@product.QuantityInWarehouse</td>
                <td>
                    <button type="button" class="btn btn-warning" style="margin:10;" onclick="@(() => NavManager.NavigateTo($"/Produktymagazyn/Edit/{product.Id}"))">Edit</button>
                    <button type="button" class="btn btn-danger" style="margin:10;" onclick="@(() => DeleteProduct(product))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    IEnumerable<ProductWarehouseModel>? _products;
    protected override async Task OnInitializedAsync()
    {
        _products = await GetProducts();
    }
    private async Task<IEnumerable<ProductWarehouseModel>>? GetProducts()
    {
        try
        {
            var response = await Http.GetAsync("api/MagazynProduct");
            return await response.Content.ReadFromJsonAsync<IEnumerable<ProductWarehouseModel>>();
        }
        catch (Exception ex)
        {
            throw;
        }
    }
    protected async Task DeleteProduct(ProductWarehouseModel product)
    {
        try
        {
            var response = await Http.DeleteAsync($"api/MagazynProduct/{product.Id}");
            _products = await GetProducts();
            await InvokeAsync(() => StateHasChanged());
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}
